@import "tailwindcss";

/* Add your animations in @theme */
@theme {
  /* Horizontal scroll animation */
  --animate-scroll: scroll 60s linear infinite;
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
@layer utilities {
  .glow-circle {
    position: absolute;
    width: 0.001vmin;
    height: 0.001vmin;
    border-radius: 50%;
    opacity: 0.25;
  }
}
@layer utilities {
  @keyframes fade-text {
    0% {
      opacity: 1;
    }
    10% {
      opacity: 0.8;
    }
    25% {
      opacity: 0.5;
    }
    /* 50% {
      opacity: 0.3;
    } */
    65% {
      opacity: 0.5;
    }
    90% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  .animate-fade-text {
    animation: fade-text 8s infinite ease-in;
  }

  /* Glow animations */
  @keyframes hue {
    0% {
      filter: hue-rotate(360deg);
    }
    100% {
      filter: hue-rotate(0deg);
    }
  }

  /* @keyframes move1 {
    0% {
      top: 0vh;
      left: 50vw;
    }
    25% {
      left: 0vw;
    }
    50% {
      top: 100vh;
    }
    75% {
      left: 100vw;
    }
    100% {
      top: 0vh;
      left: 50vw;
    }
  }
  @keyframes move2 {
    0% {
      top: 50vh;
      left: 100vw;
    }
    25% {
      top: 100vh;
    }
    50% {
      left: 0vw;
    }
    75% {
      top: 0vh;
    }
    100% {
      top: 50vh;
      left: 100vw;
    }
  } */
  @keyframes move3 {
    0% {
      top: 100vh;
      left: 50vw;
    }
    /* 25% {
      left: 100vw;
    }
    50% {
      top: 0vh;
    }
    75% {
      left: 0vw;
    } */
    100% {
      top: 0vh;
      left: 50vw;
    }
  }

  /* .glow1 {
    box-shadow: 0 0 40vmin 40vmin #ff00ff;
    animation: hue 10s linear infinite, move1 19s linear infinite;
  }
  .glow2 {
    box-shadow: 0 0 40vmin 40vmin #ffffff;
    animation: hue 15s linear infinite, move2 25s linear infinite;
  } */
  .glow3 {
    box-shadow: 0 0 50vmin 40vmin #84514b;
    animation: hue 10s linear infinite, move3 2s linear infinite;
    opacity: 0.4;
  }
}

@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* works section */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* about sectiion */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* #0d1d3c */
.animated-gradient {
  background: linear-gradient(-45deg, #f4f4f6, #38415e, #0e1e3e, #ffffff);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
}

/* values */

@keyframes waves {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.wavy-bg {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='20'><path d='M0 10 Q 25 0, 50 10 T 100 10 V20 H0 Z' fill='rgba(56,130,246,0.08)'/></svg>");
  background-repeat: repeat-8;
  background-size: 80px 8px;
  animation: waves 90s linear infinite;
}
